/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family: "Inter-Variable", sans-serif;
    --accent-font-family: "PressStart2P", sans-serif;
    --weight-text: 410;
    --weight-title: 715;
    --background-gradient:
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
    --block-width: clamp(23.4375rem, 0rem + 100vw, 43.75rem);
    --block-border: 2px solid #000;
    --border-color: #000;
    --button-shadow-color: #000;
    --button-backround-color: #000;
    --button-text-color: #fff;
    --background-color: #fff;
    --contour-color: #000;
    --animation-fill-color: #FF0000;
    --sparks-color: #FF0000;
}
